aside {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: lightgray;
}

button{
    margin: 5px;
    margin-left: 10px;
    width: 80%;
    position: relative;
}

.newGameButton {
    margin-top: 30px;
}

