html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
}

.tool-box, .file-nav, .slider, .paint {
    height: 100%; 
    box-sizing: border-box;
    margin: 0;
    color: #adadad;
    font-weight: bold;
    float: left;
}

.file-nav {
    padding: 30px 5px 30px 5px;    
}

.tool-box {
    padding: 10px 0px 30px 0px;
}

.icon, .focused-icon {
    padding: 0;
    margin: 20px 0px 20px 0;
    display: block;
    text-align: center;
}

.focused-icon {
    background: lightgray;
}

.icon:hover, .focused-icon:hover {
    color: white;
}