header {   
    text-align: center;
}

.gameContainer, .settingsContainer {
    height: 100%;
    align-content: center;
    text-align: center;
    float: left;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.gameContainer {
    width: 50%;
    min-width: 300px;
    margin-left: 15%;    
    background-color: lightcoral;
    box-shadow: 15px 10px 15px #888888;
    box-sizing: border-box;
    border-right: white solid 5px;
}

.settingsContainer {
    width: 20%;
    min-width: 200px;
    float: right;
    margin-right: 15%;
    background-color: lightsalmon;
    box-shadow: 10px 10px 15px #888888;
    
}