.title {
    margin-top: 0;
    margin-bottom: 5%;
}

.boardColumn {
    width: 100%;
    height: 5%;
    box-sizing: border-box;    
}

.boardField {
    width: 5%;
    padding-top: 5%;
    margin: 0.2%;
    display: inline-block;
    vertical-align: middle;
    background-color: lightgrey;
    box-shadow: 2px 2px 12px black;
    /*animation: 1s shrink;*/
}


@keyframes shrink {
    from {
        width: 6%;
        margin: 0.2%;
        padding-top: 6%;
        box-shadow: 8px 8px 12px black;
        border: solid black 1px;        
    }
}

