<div class="popUpBox" *ngIf="!gameStarted">
    <h2 class="containerTitle">Game</h2>
    <div class="separator"></div>
    <button (click)="startNewGame()">New Game</button>
    <p>Score: {{score}}</p>
</div>
<section>
    <div class="boardColumn" *ngFor="let column of board.getBoard()">
        <div [ngClass]="gameDrawer.getFieldCss(field)" [style.width]="gameDrawer.getFieldSizeCss()" [style.padding-top]="gameDrawer.getFieldSizeCss()"
            [style.margin]="gameDrawer.getFieldMarginCss()" *ngFor="let field of column"></div>
    </div> 
    <p>Highscore: {{highScore}} | Score: {{score}}</p>
</section>