.normalDiv, .lastDiv {
    height: 150px;
    width: 150px;
    border: solid black 1px;
    float: left;
    display: table;
    text-align: center;
    font-size: 30px;
    margin: -1px;    
}

.normalDiv {
    clear: none;
}

.lastDiv {
    clear: left;
}

span {
  display: table-cell;
  vertical-align: middle;
}

img {
    height: 100%;
    width: 100%;
}