section {
    width: 100%;        
    margin-left: 100px;
}

header {
    width: inherit;
    height: 60px;
    background: lightgray;
    margin: -8px;
}

h1 {
    padding: 15px;
}

*{
    margin: 0;
    padding: 0;
}